<template name="layoutHeader">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo hide-on-med-and-down"><img height="64" id="logo" src="melonwebsite.svg"/></a>
        <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/data">Data</a></li>
        </ul>
        <ul class="side-nav light-green darken-3" id="nav-mobile">
          <li><a class="brand-logo center"><img height="64" id="logo" src="melonwebsite.svg"/></a></li>
          <li><a class="waves-effect waves-light-green white-text" href="/"></a></li>
          <li><a class="waves-effect waves-light-green white-text" href="http://chat.melonport.com">Chat</a></li>
          <li><a class="waves-effect waves-light-green white-text" href="/data">Data</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
